---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/euw/v1.1/summoner/19531813/runes?api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":19531813,"pages":[{"id":28661224,"name":".","current":false,"slots":[{"runeSlotId":24,"rune":{"id":5290,"name":"Greater
        Glyph of Scaling Magic Resist","description":"+0.15 magic resist per level
        (+2.7 at champion level 18)","tier":3}},{"runeSlotId":8,"rune":{"id":5257,"name":"Greater
        Mark of Armor","description":"+0.91 armor","tier":3}},{"runeSlotId":9,"rune":{"id":5257,"name":"Greater
        Mark of Armor","description":"+0.91 armor","tier":3}},{"runeSlotId":26,"rune":{"id":5290,"name":"Greater
        Glyph of Scaling Magic Resist","description":"+0.15 magic resist per level
        (+2.7 at champion level 18)","tier":3}},{"runeSlotId":25,"rune":{"id":5290,"name":"Greater
        Glyph of Scaling Magic Resist",[...]
