---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/euw/v1.1/stats/by-summoner/19531813/summary?api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"summonerId":19531813,"playerStatSummaries":[{"playerStatSummaryType":"AramUnranked5x5","wins":24,"losses":0,"modifyDate":1386486416000,"modifyDateStr":1386486416000,"aggregatedStats":[{"id":34,"name":"TOTAL_ASSISTS","count":664},{"id":53,"name":"TOTAL_DECAYER","count":135},{"id":4,"name":"TOTAL_CHAMPION_KILLS","count":378},{"id":23,"name":"TOTAL_TURRETS_KILLED","count":19}]},{"playerStatSummaryType":"CoopVsAI","wins":2,"losses":0,"modifyDate":1341286655000,"modifyDateStr":1341286655000,"aggregatedStats":[{"id":34,"name":"TOTAL_ASSISTS","count":15},{"id":29,"name":"TOTAL_NEUTRAL_MINIONS_KILLED","count":32},{"id":4,"name":"TOTAL_CHAMPION_KILLS","count":57},{"id":23,"name":"TOTAL_TURRETS_KILLED","count":3},{"id":9,"na[...]
