---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/euw/v1.1/game/by-summoner/19531813/recent?api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":19531813,"games":[{"gameId":1210234450,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":1,"teamId":200,"championId":34,"spell1":4,"spell2":14,"level":30,"createDate":1386700966884,"createDateStr":1386700966884,"fellowPlayers":[{"summonerId":24133664,"teamId":100,"championId":27},{"summonerId":21140884,"teamId":200,"championId":26},{"summonerId":35227924,"teamId":100,"championId":12},{"summonerId":94386,"teamId":200,"championId":98},{"summonerId":299888,"teamId":200,"championId":67},{"summonerId":116276,"teamId":200,"championId":64},{"summonerId":20816206,"teamId":100,"championId":121},{"summonerId":27828966,"teamId":100,"championId":2},{"summonerId":31618787,"teamId":100,"championId":18}],"statistics":[{"id":1,"name":"LEVEL","value":18},{"id":2,"name":"GOLD_EARNED","value":15983},{"id":4,"name":"NUM_DEATHS","value":4},{"id":6,"name":"TURRETS_KILLED","value":1},{"id":7,"name":"MINIONS_KILLED","value":280},{"id":8,"name":"CHAMPIONS_KILLED","value":10},{"id":9,"name":"GOLD_SPENT","value":11285},{"id":10,"name":"TOTAL_DAMAGE_DEALT","value":223211},{"id":11,"name":"TOTAL_DAMAGE_TAKEN","value":22970},{"id":16,"name":"DOUBLE_KILLS","value":1},{"id":20,"name":"KILLING_SPREES","value":2},{"id":22,"name":"LARGEST_KILLING_SPREE","valu[...]
