---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/euw/v1.1/summoner/19531813/masteries?api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":19531813,"pages":[{"name":"Mastery Page 6","current":false,"talents":[{"id":4233,"name":"Hardiness","rank":3},{"id":4212,"name":"Recovery","rank":2},{"id":4211,"name":"Block","rank":2},{"id":4251,"name":"Second
        Wind","rank":1},{"id":4222,"name":"Veteran''s Scars","rank":3},{"id":4113,"name":"Sorcery","rank":4},{"id":4221,"name":"Unyielding","rank":1},{"id":4123,"name":"Mental
        Force","rank":3},{"id":4262,"name":"Tenacious","rank":1},{"id":4252,"name":"Legendary
        Guardian","rank":3},{"id":4111,"name":"Double-Edged Sword","rank":1},{"id":4241,"name":"Perseverance","rank":3},{"id":[...]
