---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/euw/v1.1/stats/by-summoner/19531813/ranked?api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":19531813,"modifyDate":1386870932000,"modifyDateStr":1386870932000,"champions":[{"id":111,"name":"Nautilus","stats":[{"id":48,"name":"MAX_CHAMPIONS_KILLED","value":2,"c":0},{"id":49,"name":"MAX_NUM_DEATHS","value":8,"c":0},{"id":33,"name":"TOTAL_UNREAL_KILLS","value":0,"c":1},{"id":32,"name":"TOTAL_FIRST_BLOOD","value":0,"c":0},{"id":34,"name":"TOTAL_ASSISTS","value":3,"c":1},{"id":26,"name":"TOTAL_PHYSICAL_DAMAGE_DEALT","value":38414,"c":1},{"id":27,"name":"TOTAL_MAGIC_DAMAGE_DEALT","value":122218,"c":1},{"id":23,"name":"TOTAL_TURRETS_KILLED","value":0,"c":1},{"id":18,"name":"MOST_SPELLS_CAST","value":0,"c":0},{"id":16,"name":"TOTAL_GOLD_EARNED","value":1[...]
