---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/euw/v1.1/summoner/44600324?api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":44600324,"name":"Best Lux EUW","profileIconId":7,"summonerLevel":6,"revisionDate":1375116256000,"revisionDateStr":"07/29/2013
        04:44 PM UTC"}'
  recorded_at: Mon, 16 Dec 2013 16:28:40 GMT
recorded_with: VCR 2.8.0
